<!DOCTYPE html>
<html lang="">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octek-Trading</title>
    <link rel="stylesheet" href="">


</head>

<body>


  <div class="jumbotron center ">
  <h1 class="display-4">Octek-Trading</h1>


  <%= link_to "Sign up now", new_user_path , class: "btn btn-info btn-lg" %>
  </div>


</body>

</html>
